
<div class="show">



  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> ยินดีต้อนรับ </h2>
      <h2 class="inactive underlineHover">สมัครสมาชิก </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img style="width: 30%;height: 40%;" src="https://webs.rmutl.ac.th/assets/upload/files/2018/11/20181114113020_50956.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="ชื่อผู้ใช้">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="รหัสผ่าน">
        <input style="border-radius: 15px" routerLink="/home" type="submit" class="fadeIn fourth" value="เข้าสู่ระบบ">
        <input  style="background-color: #FFC300; border-radius: 15px;" routerLink="/home" type="submit" class="fadeIn fourth" value="เข้าสู่ระบบดวยบัญชีอินเตอร์เน็ต มทร.อีสาน">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>
  </div>